{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class='container p-4'>
	<h3>Login to a user account 🚪</h3>
	<hr>

	<form class='form' method='POST'>
		{% csrf_token %}
		{% for field in form %}
			<div class="form__group">
				<label>{{field.label}}</label>
				<br/>
				{{field}}
				{{field.errors}}
				<br/></br/>
			</div>
		{% endfor %}
		{{form.non_field_errors}}
		<button class='btn btn-success' type='submit'>Login</button>
	</form>

	<p>Don't have a user account? Create one <a href="{% url 'register' %}">here</a>.</p>
	
	
</div>

{% endblock %}