{% extends 'base.html' %}

{% block title %} Post Delete {% endblock %}

{% block content %}
<div class='container p-4'>
	<h2>⚠ Are you sure you want to delete the following post and its related information?🛑</h2>
	<p>
		Title: {{post.title}} <br>
		Content: {{post.content}} <br>
		Comment Count: {{post.comments.count}} <br>
		Created on {{post.created_at}} <br>
		Last updated {{post.updated_at}} ago
	</p>
	<form method="POST">
		{% csrf_token %}
		<a class='btn btn-outline-info' href="{{request.META.HTTP_REFERER}}">Go Back</a>
		<button type=submit class='btn btn-danger'>Yes, I'm sure</button>
	</form>
</div>

{% endblock %}